# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-wheel-metadata/
.venv/
env/
venv/

# Caches / tools you saw in warnings
.cache/
.knime/
.equo/
.pyenv/
.ollama/
.docker/
.ipython/
.wdm/
.huggingface/
.selenium/

# IDE
.vscode/
.idea/

# App data (keep folder, ignore files)
data/*
!data/.gitkeep
